<div class="faq">
    <div class="faq-content">
        <h2>Frequently Asked Questions</h2>
        <ol>
            <li>How does writing for the magazine benefit me?<br>
            Ans: The writings you contribute to this magazine tallies as extra curricular activity. This helps you to build a strong Curriculum Vitae (CV), and you can add this to your Linkedin profile. <br><br>
            </li>
            <li>Till when can I submit content for the magazine?<br>
            Ans: You can submit your content by 15th of May 2021. <br><br>
            </li>
            <li>What type of content can I submit?<br>
            Ans: You can yield the content as follows;
                <ul>
                    <li>Articles</li>
                    <li>Puzzles</li>
                    <li>News clippings</li>
                    <li>Reports</li>
                    <li>Research Work</li>
                    <li>Projects</li>
                </ul><br>
            </li>
            <li>Can I get an example of what to submit?<br>
            Ans: yes, surely get the example by seeing last years cyberzine. Link for the same is: link to old version.<br><br>
            </li>
            <li>I don't see how my content will be useful to the magazine. Should I still submit it?<br>
            Ans: The magazine is tied in with exploring different avenues regarding content. We make an honest effort consistently to incorporate however much as could be expected in the magazine. Any work that you accomplish for us will help. It's about the magazine overall and the portrayal of the work that we do in this division.<br><br>
            </li>
            <li>Can I provide a previous article that I published somewhere else?<br>
            Ans: Totally. You should simply add a disclaimer (read the submission rules) and a link to the original content.<br><br>
            </li>
        </ol>
    </div>
    <div class="grad-bar"></div>
    <div class="form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffy3a2PjU4uR_zRNJnscFp8CwBrja4jmxvNSQ84H3C5xupfw/viewform?embedded=true">Loading…</iframe>
    </div>
    
</div>











