.submission-frame{
  height: auto;
  width: 100%;
}
.rules{
  position: relative;
  width: 100%;
  margin: auto;
  height:auto;
  padding:max(2%,20px);
  text-align: justify;
  font-family:serif;
  font-size: 1.2rem;
}
.rules>h1{
  font-family: sans-serif;
  margin: 0px;
  font-size: 1.7rem;
}
.rules li{
  padding-bottom: 10px;
}
.rules>p{
  color: var(--ion-color-primary);
  font-weight: bold;
}
.rules i{
  color: var(--ion-color-danger-tint);
}
.rules sub{
  color:rgb(94, 255, 0);
  font-weight: bold;
  padding-bottom: 10px;
}
