<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <section class="submission-frame">
      <div class="rules">
        <h1>Submission Rules for CyberZine 2022</h1>
        <h5 style="color: red;" >*Authors must read and abide by all the rules presented henceforth carefully.</h5>
        <ul>
        <li>Any form of interactive as well as informative content (articles, puzzles, reports, research work, etc.) shall be accepted as adequate submissions.</li>
        <li>All work shall be submitted on or before <strong>30 June 2022</strong>.</li>
        <li>The author(s) hereby represents and warrants that the submitted work is original and, except for material that is clearly identified as to its original source, with permission notices from the copyright owners where required, and cited accordingly.</li>
        <li>The author(s) hereby represents and warrants that the submitted work is free of any and all factual inaccuracies, and shall provide valid sources backing their claim in case of a dispute.</li>
        <li>In case where a conflict shall arise, the final decision rests upon the discretion of the managing team.</li>
        <li>The author(s) must notify the team if the content submitted has also been published elsewhere under their name.</li>
        </ul>
        <h5>Stay tuned and Please fill out the form <i>(will be available soon)</i> to proceed with your submission. By submitting this form you agree to follow the aforementioned rules. Once you submit the form we will contact you via email to complete the process.</h5>
      </div>
  </section>
  </div>

</ion-content>
