.submission-frame{
  height: auto;
  width: 100%;
  position: relative;
}
.rules{
  position: relative;
  width: 96%;
  margin: auto;
  height:auto;
  padding: 4%;
  text-align: justify;
}
.rules>h1{
  font-family: sans-serif;
  margin: 0px;
}
.rules>h5{
  font-family:Georgia, Times, 'Times New Roman', serif;
  color: var(--ion-color-primary);
  font-weight: bold;
}
.rules i{
  color: var(--ion-color-danger-tint);
}
.rules li{
  font-family:Georgia, Times, 'Times New Roman', serif; 
  font-size: 1.1rem !important;
}
.rules sub{
  font-family:Georgia, Times, 'Times New Roman', serif; 
  font-size: 1.1rem;
  color:rgb(94, 255, 0);
  font-weight: bold;
  padding-bottom: 10px;
}
