.aboutus{
    height: auto;
    width: 100%;
    position: relative;
    color: white;
    /* background-image: linear-gradient(to top, #6e0d0d, #711212, #731717, #761c1b, #782020, #732029, #6d2231, #662437, #51263c, #3d2739, #2b252f, #212121); */
    background-image: linear-gradient(to top, #6e0d0d, #740c21, #761333, #751d44, #702854, #652d57, #5a3059, #4f3358, #40304c, #342b3e, #292730, #212121);

}
.aboutus h1{
    font-family: sans-serif;
}
.aboutus p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
.vitbhopal{
    width: 90%;
    max-height: max-content;
    padding: 3%;
    margin: auto;
    position: relative;
    text-align: justify;
    /* background-color: yellowgreen; */

}
.csdf{
    width: 90%;
    max-height: max-content;
    padding: 3%;
    margin: auto;
    position: relative;
    text-align: justify;
    /* background-color: yellowgreen; */

}

.cyberzine{
    width: 90%;
    max-height: max-content;
    padding: 3%;
    margin: auto;
    position: relative;
    text-align: justify;
    /* background-color: yellow; */
    


}
