
<div class="aboutus">
    <!-- About Cyberzine -->
    <div class="cyberzine">
        <h1>About Cyberzine</h1>
        <p>The threat to the cyber world is increasing at an alarming rate, and the epochal shift from offline to online during the pandemic created more problems than it solved. People found themselves in the middle of a social stigma and in the times to come it becomes extremely important to educate both the younger and older generations across the globe about the ethics and technicality of the cyber world.</p>
        <p>Cyberzine is one such effort by the students and the erudite faculty of VIT Bhopal to give an insight into the complexity and complicacy of the cyber world, cyber threats, breaches, digital forensics, innovations, and discoveries. It is published annually by the department of cybersecurity and digital forensics at VIT Bhopal. The annual magazine is curated for you to comprehend and grasp all the cyber-related information which you might have missed. It takes you on an adventurous journey filled with interesting facts, puzzles, articles, and more, leaving you intrigued and curious to know more. Get your copy of cyberzine and delve deeper into the unfathomable depths of the cyber ocean. The illuminating and informative experience awaits you!
        </p>
    </div>
    <!-- About CSDF -->
        <div class="csdf">
           <h1>Division of Cyber Security and Digital Forensics</h1> 
            <p>In this age of quick information, Internet is the engine that is ushering global economic growth, connectivity & relentless communication. The issues related to cyber security of any country, should not impede any of these factors. Instead it is important to create such initiatives and be well-equipped to face and take head-on those cyber offences, that could cause espionage, infringement into copyrights, financial thefts, stealing personal data etc, which can threaten security, financial issues and confidentiality of a person, organization or even a nation.</p>
            <p>It is no exaggeration to say that the battles in the future will probably be fought in cyberspace instead on land or sea, with the targets being critical infrastructure such as dams and power grids and even healthcare. This has already been attempted in the past. Till date, more than 26,000 websites have been defaced and 91 lakh infected systems have been detected in India. The year 2016 saw over 3 million debit cards getting hacked in India. Worse, 80% of all cybercrimes go unreported!</p>
            <p>This makes it super important that India fortifies its critical infrastructure and evolves a mechanism that can be practically implemented in case of any cyber breach. And this is where the role of cyber warriors comes in.</p>
    
        </div>
    
    <!-- About VIT Bhopal -->
    <div class="vitbhopal">
        <h1 align="left" >About VIT Bhopal University</h1>
        <p>VIT Bhopal University, an acclaimed university across the nation and a renowned institution across the globe, envisaged an idealistic viewpoint of making its students quality human beings and technically equipped with the knowledge to pay their share to the world. The futuristic curriculum is aimed at nurturing young minds, giving them a broader perspective of the new avenues open to them. Our aim is not only to educate our students superficially but also to make them quality human beings and focus on overall development. We believe that education for the 21st century and centuries to come must be bolder and broader.</p>
        <p>The meticulously and methodologically planned teaching methods are formulated in such a way to give in-depth and practical knowledge to the learners about different fields that are a part of our curriculum. We take immense pride in stating that here at VIT Bhopal we have 100 percent doctoral faculty, each one of them an expert in the subjects concerned. The faculty and founding authorities have been effective contributors for introducing future-ready programs along with an emphasis on research.</p>
        <p>It has tie-ups with superlative institutions of the nation and top-of-the-line universities globally providing ample opportunities to the individuals to showcase their talent. Stretching out to the remotest parts of our country, we believe that every human is entitled to educate themselves under the guidance of the finest teaching faculties and hence scholarships to the economically weak are provided with scholarships so that they do not lose out on opportunities and get a chance to stand out.</p>
        <p>In this endeavor, we aim to recognize the true potential of our students by giving them a global platform, instilling in them inquisitiveness to know more, igniting minds to develop into zealous and earnest professionals ready to fight the challenges that come in their way.</p>

    </div>
</div>



