.aboutus{
  height: auto;
  width: 100%;
  font-family:serif;
}
.aboutus h1{
  font-family: sans-serif;
  margin-top:1%;
  font-size: 1.7rem;
}
.aboutus p{
  font-size: 1.2rem;
  margin: 15px 0% 0px 0% ;
  color: var(--ion-color-dark-tint);
}
.cyberzine{
  width: 90%;
  max-height: max-content;
  margin: max(1%, 25px) auto 40px auto ;
  text-align: justify;  
}
