<div class="page-wrapper">
    <div class="nav-wrapper">
       <div class="grad-bar"></div>
       <nav class="navbar">
         <img class="logo" src="../assets/img/cyberzine_logo_21.png" alt="Logo">
         <div class="menu-toggle" id="mobile-menu" >
           <span class="bar"></span>
           <span class="bar"></span>
           <span class="bar"></span>
         </div>
         <ul class="nav no-search">
           <li class="nav-item"><a href="">Home</a></li>
           <li class="nav-item"><a href="about">About Us</a></li>
           <!-- <li class="nav-item"><a href="submission">Submissions</a></li> -->
           <!-- <li class="nav-item"><a href="">Team</a></li> -->
           <!-- <li class="nav-item"><a href="faq">Queries</a></li> -->
         </ul>
       </nav>
       <div class="grad-bar"></div>
    </div>
</div>
<div class="content-holder">
    <router-outlet></router-outlet>
    <footer>
      <p class="copyright" >All Rights Reserved by Division of Cyber Security and Digital Forensics | VIT Bhopal</p> <p class="credits">Developed and Maintained by : <a href="https://www.linkedin.com/in/sandeep-kumar-1680b0171/">SK</a>  | Cyberzine Team</p>
    </footer>
</div>
