@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.home-content{
  width: 100%;
  height: auto;
}
.home-logo{
  width: min(700px, 90%);
  margin: auto;
}
.explore-release{
  // margin-top: 20px !important;
  font-size: 2rem;
}
.cover-page{
  width: 95%;
  min-height: 510px;
  max-height: fit-content;
  margin: auto;
  text-align: center;
  @media screen and (min-width:768px) {
    min-height: 710px;
  }
}
.cover-img{
  // display: none;
  width: min(100%,500px);
  height: auto;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 0px 5px var(--ion-color-light-tint);
}
.library{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.opt-btn{
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
  width: auto;
  margin: 6px;
  background-color: var(--ion-color-medium);
  color: white;
  text-transform: uppercase;
  transition: 0.7s;
  @media screen and (max-width:768px) {
    width: 140px;
  }
}
.active-btn{
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-dark);
}
.inactive-btn:hover{
  opacity: 0.9;
}
.read-btn:hover{
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-dark);
}

.public-note {
  display: block;
  margin: 20px auto;
  font-size: 1.5rem;
  text-align: justify;
  padding: 0 5%;
  font-family: "Cookie", cursive;
  color: var(--ion-color-secondary);
}