<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="home-content">
      <div class="first-screen">
        <!-- <ion-img class="home-logo cyberzine-logo" src="assets/img/cyberzine_logo.png" alt="Cyberzine Logo"></ion-img> -->
        <h1 class="explore-release bold ion-text-center">Explore the releases</h1>
        <div class="library">
          <button *ngFor="let item of mags" class="ion-text-wrap bold opt-btn" (click)="mag=item" 
          [ngClass]="{'active-btn': mag==item, 'inactive-btn':mag!==item}" >{{item}}</button>
        </div>
        <div class="cover-page">
          <img class="cover-img" loading="lazy" [src]="'assets/img/'+ mag+'.jpg'" [alt]="'assets/img/'+ mag+'.jpg'+'Front page of Cyberzine'">
        </div>
        <div class="library">
          <a *ngIf="mag=='Cyberzine 2021'" href="https://drive.google.com/file/d/1oSufvf4dPu6hSDBpUhMYcthLtNhVmW0P/view?usp=sharing" target="_blank">
            <button class="opt-btn read-btn">Read Now!</button>
          </a>
          <a *ngIf="mag=='Cyberzine 2020'" href="https://drive.google.com/file/d/1K_UF7qOO-8VbRqIVU8tOr7O6SYL06Z0a/view?usp=sharing" target="_blank">
            <button class="opt-btn read-btn">Read Now!</button>
          </a>
          <a *ngIf="mag=='Cyberzine 2019'" href="https://drive.google.com/file/d/1sWFFc7BDsXTYuKWoaMFHKlkJopV2-mzm/view?usp=sharing" target="_blank">
            <button class="opt-btn read-btn">Read Now!</button>
          </a>
        </div>
      </div>
      <ion-note class="public-note">
  ✨ CyberZine has been a legacy of creativity, knowledge, and collaboration at VIT Bhopal.  
  After a pause of 3 years, we are reigniting this journey — and we want <strong>new innovative minds</strong> to be a part of it!  
  If you are passionate about writing, cybersecurity, design, or editing, reach out to us (the Alumni team) and form a team to continue this legacy.  
  Guidance and mentorship will always be with you — together, let’s take CyberZine forward. 🚀
</ion-note>

    </div>


  </div>
</ion-content>