<section class="submission-frame">
    <div class="rules">
        <h1 id="">Submission Rules | CyberZine 2021</h1>
<h3 id="">Authors must read and abide by all the rules presented henceforth carefully.</h3>
<ul>
<li>Any form of interactive as well as informative content (articles, puzzles, reports, research work, etc.) shall be accepted as adequate submissions.</li>
<li>All work shall be submitted on or before <strong>30 June 2021</strong>.</li>
<li>The author(s) hereby represents and warrants that the submitted work is original and, except for material that is clearly identified as to its original source, with permission notices from the copyright owners where required, and cited accordingly.</li>
<li>The author(s) hereby represents and warrants that the submitted work is free of any and all factual inaccuracies, and shall provide valid sources backing their claim in case of a dispute.</li>
<li>In case where a conflict shall arise, the final decision rests upon the discretion of the managing team.</li>
<li>The author(s) must notify the team if the content submitted has also been published elsewhere under their name.</li>
</ul>
<h5>Please fill out the attached form to proceed with your submission. By submitting this form you agree to follow the aforementioned rules. Once you submit the form we will contact you via email to complete the process.</h5>


    </div>

    <div class="topics">
        <h1>Topics</h1>
        <h5>*Note: Writers are free to choose any topic they want but it should have relevance to Cyber Security and Digital Forensics Domain.*</h5>
        <h4>Confused in selection of topics ? We got your back.</h4>
        <h6>It is very obvious to get confused while selecting topic for your submission as Cyber Security and Digital Forensics is a broad Domain.You can prefer the given list below to have some reference. Contributions are invited on, but not restricted to, the following themes:
        </h6>
            <ol>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
            </ol>
    </div>
    <div class="grad-bar"></div>
    <br>
    <div class="form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdMoNWzg_5zPvHGKLjJ9vxwDgQyMnfHxBzirllMlrnJ6fKxuA/viewform?embedded=true">Loading…</iframe>
    </div>
</section>