<section class="submission-frame">
    <div class="rules">
        <h1>Submission Rules</h1>
        <h5>Before submitting any content please read the rules carefully.</h5>
        <ol>
            <li>Writers must fill the attached form before submitting any content for the magazine.</li>
            <li>We request the writers to submit original and unique content only.</li>
            <li>Before the submission of the content, authors must make sure that their content is free of any factual inaccuracies.</li>
            <li>Any form of interactive as well as informative content (articles, puzzles, news clippings, reports, research work, projects, etc.) shall be accepted as adequate submissions.</li>
            <li>You will receive a Google Drive Folder link via email after the submission of the above-mentioned form. All the content that you wish to submit must be uploaded to this folder.</li>
            <li>The main content must only be submitted as a text file or Google document. Any other type of file submission will automatically be rejected. </li>
            <li>All supporting images must be of the highest quality available and should be added to the folder separately. 
                <ul>
                    <li>Do not submit stock images with watermarks.</li>
                    <li>Do not submit images that are not related to the content.</li>
                    <li>Do not submit any images you do not have the license to use.</li>
                </ul>
            </li>
            <li>All the external sources that the content is taken from must be mentioned under sources.</li>
            <li>Classic puzzles cannot have more than one writer. Additional writers are allowed only if the content is of a non-classic puzzle type.</li>            
            <li>All the aforementioned rules are strictly enforced and non-conformance will lead to immediate rejection of the content in question.</li>
            <li>In case of conflict, the decision of the associated faculty and the managing team will be final.</li>
            <li>The deadline for submission is one month from submitting the google form.</li>
            <li>If the content has been published previously on any website and you are the owner of the above–mentioned content, please include the following disclaimer and a link to the original post in the sources document. We will contact you later with a copyright transfer form for the same.<br>
                <sub>* Disclaimer: The following content is an excerpt from my past published work and is necessary to quote as required.*</sub>
            </li>
        </ol>
    </div>

    <!-- <div class="topics">
        <h1>Topics</h1>
        <h5>*Note: Writers are free to choose any topic they want but it should have relevance to Cyber Security and Digital Forensics Domain.*</h5>
        <h4>Confused in selection of topics ? We got your back.</h4>
            <h6>It is very obvious to get confused while selecting topic for your submission as Cyber Security and Digital Forensics is a broad Domain.You can prefer the given list below to have some reference. It is not restricted to write on the given below topics, you may find your own as well</h6>
            <ol>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
                <li>Topic Placeholder</li>
            </ol>
    </div> -->
    <!-- <div class="grad-bar"></div> -->
    <div class="form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdMoNWzg_5zPvHGKLjJ9vxwDgQyMnfHxBzirllMlrnJ6fKxuA/viewform?embedded=true">Loading…</iframe>
    </div>
</section>