.submission-frame{
    height: auto;
    width: 100%;
    position: relative;
    color: white;
    /* background-image: linear-gradient(to top, #6e0d0d, #711212, #731717, #761c1b, #782020, #732029, #6d2231, #662437, #51263c, #3d2739, #2b252f, #212121); */
    background-image: linear-gradient(to top, #6e0d0d, #740c21, #761333, #751d44, #702854, #652d57, #5a3059, #4f3358, #40304c, #342b3e, #292730, #212121);

}
.grad-bar {
    width: 100%;
    margin: auto;
    height: 15px;
    background: linear-gradient(-45deg, #160000, #500000, #5a0000,#00055c,#45005d,#49003e,#440006,#000000);
    background-size: 400% 400%;
      -webkit-animation: gradbar 25s ease infinite;
      -moz-animation: gradbar 25s ease infinite;
      animation: gradbar 25s ease infinite;
  }
.rules{
    position: relative;
    /* background-image: linear-gradient(to bottom, #3f3f3f, #4c4354, #614463, #7c416b, #9a3a6a); */
    width: 96%;
    margin: auto;
    height:auto;
    padding: 4%;
    color: whitesmoke;
    text-align: justify;
}
.rules>h1{
    font-family: sans-serif;

}
.rules>h5{
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: #0087bd;
    font-weight: bold;
    
}
.rules li{
    font-family:Georgia, Times, 'Times New Roman', serif; 
    font-size: 1.3rem !important;
}
.rules sub{
    font-family:Georgia, Times, 'Times New Roman', serif; 
    font-size: 1.1rem;
    color:rgb(94, 255, 0);
    font-weight: bold;
    padding-bottom: 10px;
}



.topics{
    position: relative;
    /* background-color: palegreen; */
    /* background-image: linear-gradient(to top, #ff6347, #dd4c35, #bc3624, #9b1e13, #7c0000); */
    width: 96%;
    margin: auto;
    height: 100%;
    padding: 4%;
    color: white;
    text-align: justify;
}
.form{
    position: relative;
    width: 96%;
    margin: auto;
    height: 1500px;
}
.form>iframe{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
@media only screen and (max-width: 720px) {
    .form{
        height: 1750px;
    }
}

/* background-image: linear-gradient(to bottom, #3f3f3f, #614866, #994676, #d43968, #ff3e3e);//preference1 

background-image: linear-gradient(to bottom, #3f3f3f, #4e4251, #684058, #853b50, #9a3a3a);
*/