@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


h1,h2,h3,h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-content{
  width: 100%;
  position: relative;
  height: auto;
  background-color: black;
}
.vid-container{
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  background-color: black;
}
#cover-vid{
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
}
.img-container{
  width: 96%;
  height: auto;
  position: relative;
  margin: auto;
  background-color: greenyellow;
}
#cover-img{
  position: relative;
  width: 100%;
  height: auto;
}
.grad-bar {
  width: 100%;
  margin: auto;
  height: 15px;
  background: linear-gradient(-45deg, #212121, #500000,#00055c,#652d57, #5a3059,#00055c,#500000,#212121);
  background-size: 400% 400%;
    -webkit-animation: gradbar 25s ease infinite;
    -moz-animation: gradbar 25s ease infinite;
    animation: gradbar 25s ease infinite;
}

.previous-mag{
  position: relative;
  width: 100%;
  height: auto !important;
  color: aliceblue;
  overflow-y: auto;
  background-image: linear-gradient(to top, #6e0d0d, #740c21, #761333, #751d44, #702854, #652d57, #5a3059, #4f3358, #40304c, #342b3e, #292730, #212121);
}
.previous-mag h1,h2 {
  text-align: center;
}
.prev-card-detail{
  width: 100%;
  float: left;
  height: auto;
  position: relative;
  padding-top: 20px;
}

.thumbnail{
  width: 40%;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  float: left;
  padding-bottom: 50px;
}

p{
  font-size: 1.2rem;
  color: burlywood;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  margin-left: 5%;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:wheat;
  text-decoration: none;
  box-shadow: 1px blueviolet ;
}



.countdown{
  position: relative;
  width: 100%;
  background-image: linear-gradient(to bottom, #000000, #0c0c0c, #141414, #1b1b1b, #212121);
}
.countdown h2{
  position: relative;
  color: whitesmoke;
  margin: auto;
  text-align: center;
}
.countdown p{
  color: white;
  font-family: 'Courgette', cursive !important;
  text-align: justify;
  font-size: 1.5em;
  width: 80%;
  margin: auto;
}
.countdown ul{
  list-style: none;
  width: 400px;
  margin: auto;
  
}
.countdown li{
  position: relative;
  height: 100%;
  display: inline-block;
  background-color: #ff6347;
  border-radius: 8px;
  padding: 15px;
  margin-block-start: 0px;
  margin: 1%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  color: white;
  
}
.countdown h4{
  font-size: 1.5em !important;
  font-weight: bolder;
  margin: 0%; 
}
.cyvit-flyer{
  position: relative;
  width: 80%;
  margin: 50px 10%;
  border-radius: 10px;
}

@media only screen and (max-width: 768px){
  .thumbnail{
    width: 90%;
    position: relative;
    
  }
  .countdown ul{
    width: 95%;
    padding: 0%;
    margin: auto;
    justify-content: center;
    display: flex;
  }
  .countdown li{
    position: relative;
    padding:8px;
    margin: 1%;
    display: inline-flexbox;
  }
}

/* Keyframe Animation for timer */
/* @keyframes flickerAnimation {
  0%   { opacity:0.5; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
} */


/* Launching*/
.launch{
  position: relative;
  width: 99.5%;
  margin: auto;
  /* background-image: linear-gradient(to bottom, #000000, #0c0c0c, #141414, #1b1b1b, #212121); */
  background-image: linear-gradient(to right bottom, #000000, #1f1f1f, #363636, #7e7e81, #abadb0, #babec2, #c8cfd5, #d7e1e7, #c8d7de, #baccd6, #abc2cd, #9cb8c4);

}
.cy2021{
  position: relative;
  width: 60%;
  text-align: center;
  margin: auto;
}
.img21{
  position: relative;
  height: auto;
  width: 50%;
  align-items: center;
}
/* .launch img{
  position: relative;  
  height: 100%;
  width: 60%;
  margin-left: 25%;
  margin-right: 25%;
} */
.release button{
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #513258;
  color: white;
}

@media only screen and (max-width: 768px){
  .cy2021{
    width: 90%;
  }
  .img21{
    width: 90%;
  }
}

.control {
  border-radius: 50%;
  /* border: 2px solid #bc70ea; */
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  opacity: 0.1;
  cursor: pointer;
  outline: none;
}

.control:hover {
  opacity: 0.2;
}

.play-icon {
  height: 40px;
  width: 50px;
  position: relative;
  left: 10px;
  border-right: none;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  /* border-left: 50px solid #a25be2; */
  box-sizing: border-box;
}


.pause-icon {
  height: 50px;
  width: 30px;
  box-sizing: border-box;
  border-left: 10px solid #a25be2;
  border-right: 10px solid #a25be2;
}
