<div class="home-content">
  <div class="vid-container">
    <!-- <div>Iteration: <span id="iteration"></span></div> -->
    <video allow="autoplay" id="cover-vid" autoplay controls loop plays-inline>
      <source src="../../assets/video/Cyberzine_web.mp4" type="video/mp4">
      <source src="../../assets/video/Cyberzine'21.mkv" type="video/mkv">
      <source src="../../assets/video/Cyberzine'21.mov" type="video/mov">
      <source src="../../assets/video/Cyberzine'21.wmv" type="video/wmv">    
      <source src="../../assets/video/Cyberzine'21.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="img-container">
    <img id="cover-img" src="../assets/img/Cyberzine2020-2.png" alt="Cyberzine-Cover">
  </div>

</div>
