<div class="home-content">
  <div class="vid-container">
    <!-- <div>Iteration: <span id="iteration"></span></div> -->
    <video allow="autoplay" id="cover-vid" autoplay controls loop plays-inline>
      <source src="../../assets/video/Cyberzine_web.mp4" type="video/mp4">
      <source src="../../assets/video/Cyberzine'21.mkv" type="video/mkv">
      <source src="../../assets/video/Cyberzine'21.mov" type="video/mov">
      <source src="../../assets/video/Cyberzine'21.wmv" type="video/wmv">    
      <source src="../../assets/video/Cyberzine'21.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>


  <div class="previous-mag">
    <br><br>
    <h1>Our Previous Releases</h1>

    <div class="prev-card-detail">
      <div class="thumbnail">
        <h2>Cyberzine 2020</h2>
        <p>Release Date:&nbsp;&nbsp;&nbsp;<b>July 2020</b> </p>
        <img id="cover-img" src="../assets/img/cyberzine2020.jpg" alt="Cyberzine 2020">    
        <p>Looks Intersting ?</p>
        <a href="https://drive.google.com/file/d/18zavxd9BWlWGfsAun11_N2wDywptrhpS/view?usp=sharing" target="_blank"><button>Read Now!</button></a>
      </div>
      <div class="thumbnail">
        <h2>Cyberzine 2019</h2>
        <p>Release Date:&nbsp;&nbsp;&nbsp;<b>July 2019</b> </p>
        <img id="cover-img" src="../assets/img/cyberzine2019.jpg" alt="Cyberzine 2019">
        <p>Looks Intersting ?</p>
        <a href="https://drive.google.com/file/d/1XkemX4sP5InILzrroaQ_MgB1NWAS7tSI/view?usp=sharing" target="_blank"><button>Read Now!</button></a>
      </div>
    </div>
  </div>
  <!-- <div class="home-submission">
    <h3>Sounds Intersting?</h3>
    <p class="interested">Join us today and be the part of community. </p>
  </div> -->
</div>