.faq{
  min-height: 100% !important;
  width: 100%;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.faq-content{
  width: 100%;
  padding: 0px max(1%,20px) ;
  margin: auto;
  text-align: justify;
  margin-bottom:2%;
  font-size: 1.2rem;
}