<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="faq">
      
      <div class="faq-content">
        <h1>Frequently Asked Questions (in 2021)</h1>
        
        <ol>
          <li>How does writing for the magazine benefit me?<br>
            Ans: The writings you contribute to this magazine tallies as extra curricular activity. This helps you to
            build a strong Curriculum Vitae (CV), and you can add this to your Linkedin profile. <br><br>
          </li>
          <li>Till when can I submit content for the magazine?<br>
            Ans: You can submit your content by 15th of May 2021. <br><br>
          </li>
          <li>What type of content can I submit?<br>
            Ans: You can yield the content as follows;
            <ul>
              <li>Articles</li>
              <li>Puzzles</li>
              <li>News clippings</li>
              <li>Reports</li>
              <li>Research Work</li>
              <li>Projects</li>
            </ul><br>
          </li>
          <li>Can I get an example of what to submit?<br>
            Ans: yes, surely get the example by seeing last years cyberzine. Link for the same is: link to old
            version.<br><br>
          </li>
          <li>I don't see how my content will be useful to the magazine. Should I still submit it?<br>
            Ans: The magazine is tied in with exploring different avenues regarding content. We make an honest effort
            consistently to incorporate however much as could be expected in the magazine. Any work that you accomplish
            for us will help. It's about the magazine overall and the portrayal of the work that we do in this
            division.<br><br>
          </li>
          <li>Can I provide a previous article that I published somewhere else?<br>
            Ans: Totally. You should simply add a disclaimer (read the submission rules) and a link to the original
            content.<br><br>
          </li>
        </ol>
      </div>
    </div>
    <div class="ask-query">
      <h2>Have Queries? Ask Here.</h2>
      <form [formGroup]="queryForm" (ngSubmit)="submitForm()" novalidate>
        <div class="input-item">
          <ion-item fill="outline">
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="name" type="text" clear-input></ion-input>
          </ion-item>
          <div *ngIf="name.touched" class="error">
            <span *ngIf="name.touched && errorControl.name.errors?.required">Name is required.</span>
            <span *ngIf="errorControl.name.errors?.minlength">Name should be min 4 characters long.</span>
          </div>
        </div>
        <div class="input-item">
          <ion-item fill="outline">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text" clear-input></ion-input>
          </ion-item>
          <div *ngIf="email.touched" class="error">
            <span *ngIf="email.touched && errorControl.email.errors?.required">Email is required.</span>
            <span *ngIf="errorControl.email.errors?.pattern"  >Please provide valid email id.</span>
          </div>
        </div>
        <div class="input-item">
          <ion-item fill="outline">
            <ion-label position="floating">Mobile</ion-label>
            <ion-input formControlName="mobile" type="text" clear-input max-length="10" onchange="console.log(value)" ></ion-input>
          </ion-item>
          <div *ngIf="mobile.touched && mobile.errors" class="error">
            <span *ngIf="errorControl.mobile.errors?.required">Mobile Number is required.</span>
            <span *ngIf="errorControl.mobile.errors?.pattern">Mobile Number can be Digits only. <br> </span>
            <span *ngIf="errorControl.mobile.errors?.minlength">Mobile Number Should be 10 Digits Long.</span>
            <span *ngIf="errorControl.mobile.errors?.maxlength">Mobile Number exceeded 10 Digits.</span>
          </div>
        </div>
        <div class="input-item">
          <ion-item fill="outline">
            <ion-label position="floating">Subject</ion-label>
            <ion-input formControlName="sub" type="text" clear-input></ion-input>
          </ion-item>
          <div *ngIf="errorControl.sub.errors" class="error">
            <span *ngIf="sub.touched && errorControl.sub.errors?.required">Subject is required.</span>
            <span *ngIf="errorControl.sub.errors?.minlength">Subject should be min 5 characters long.<br></span>
            <span *ngIf="errorControl.sub.errors?.pattern">Only Alphabets and Numbers are Allowed!</span>
          </div>
        </div>
        <div class="input-item">
          <ion-item fill="outline">
            <ion-label position="floating">Message</ion-label>
            <ion-textarea formControlName="msg" type="text" clear-input></ion-textarea>
          </ion-item>
          <div *ngIf="errorControl.msg.errors" class="error">
            <span *ngIf="msg.touched && errorControl.msg.errors?.required">Message is required.</span>
            <span *ngIf="errorControl.msg.errors?.minlength">Message should be min 5 characters long.<br></span>
            <span *ngIf="errorControl.msg.errors?.pattern">Only Alphabets and Numbers are Allowed!</span>
          </div>
        </div>
        
        <ion-row>
          <ion-col>
            <ion-button [disabled]="queryForm.untouched || queryForm.invalid" color="primary" type="submit">Submit</ion-button>
            <ion-button [disabled]="queryForm.untouched" color="primary" type="reset">Reset Form</ion-button>
          </ion-col>
        </ion-row>

        <div *ngIf="isSubmitted">
          <h4 class="res-success bold">Query Submitted Successfully!</h4>
          <h4 class="res-primary bold">Our team will reach out to you soon.</h4>
        </div>
      </form>
    </div>
  </div>
</ion-content>